* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  background-color: yellow;
  width: 300px;
  height: 300px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  
}

ul{
  margin: 10px;
}
