* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  background-position: center right;
  background-attachment: fixed;
}

body {
  background-repeat: no-repeat;
  background-image: url(https://www.w3schools.com/cssref/img_tree.gif);
}

p {
  font-size: 55px;
}

.box {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  background-color: white;
  background: linear-gradient(red, green, yellow, white, blue);
  background: radial-gradient(red, green, yellow, white, blue);
  background: conic-gradient(red, green, yellow, white, blue);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(199, 187, 77, 1) 72%, rgba(252, 70, 107, 1) 100%);
}
